<footer class="bg-primary">
	<div class="container section">
		<div class="row">
			<div class="col-lg-10 mx-auto text-center">
				<a class="mb-4 d-inline-block" href="{{ site.BaseURL | relLangURL }}">

				</a>
				<ul class="navbar-nav navbar-footer">
					{{ range site.Menus.footer }}
					<li class="nav-item">
						<a class="nav-link"
							href="{{if .Pre}}{{site.BaseURL | absLangURL}}{{.Pre}}{{ .URL }}{{else}}{{.URL | absLangURL}}{{end}}">{{ .Name }}</a>
					</li>
					{{ end }}
				</ul>
			</div>
		</div>
	</div>
	<div class="copyright content">{{ site.Params.copyright | markdownify }}
  {{ if site.Params.theme_copyright }}
  {{ end }}</div>
</footer>